body {
    box-sizing: border-box;

}

*, html {
    padding: 0;
    margin: 0;
}

.page {
    width: 100%;
    min-height: 100vh; /* Change to min-height to ensure the page expands with content */
    background-color: hsl(36, 100%, 99%);
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
}

.center {
    width: 70%;
    margin: auto;
    position: relative;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.footer-text {
    font-size: 16px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    color: hsl(233, 8%, 79%);
}

@media screen and (max-width: 1023px) {
    .main-content {
      flex-direction: column;
    }

    .center {
        width: 90%;
    }


}